* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: -apple-system, system-ui, open sans, sans-serif;
  font-size: 1.6rem;
}

.translator__field {
  height: 250px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  border: none;
  padding: 26px 20px;
  font-size: 16px;
  font-family: -apple-system, system-ui, open sans, sans-serif;
}

.translator__to .translator__field {
  background: #eaf1fa;
  -webkit-box-shadow: 0 0 3px rgba(9, 24, 65, 0.3);
  box-shadow: 0 0 3px rgba(9, 24, 65, 0.3);
  font-size: 19px;
}

textarea {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textarea;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
}

textarea {
  outline: none;
  border: none;
  overflow: auto;
}

textarea:focus {
  border-color: transparent !important;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.text-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: none;
}

.translate-section {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.text-young {
  color: #ffeb00;
}
.text-error {
  color: red;
}
.outer-box {
  border: 1px solid #e1f100;
  padding: 10px;
  border-radius: 10px;
}

.submit {
  font-size: 0.7em;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.loader {
  width: 50px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 564px) {
  .app-title {
    margin-top: 20px;
    font-size: 2rem;
  }
  .footer {
    margin-top:20px;
  }
  .translator__field{
    height: 180px;
  }
}